<div class="h-screen flex items-center justify-center bg-gray-800">
    <div class="w-1/2 text-center">
        <h1 class="text-6xl text-white font-bold">WELCOME TO WEBSITE</h1>
        <h2 class="text-2xl text-white mt-5">
            Hello everyone.
            I'm Puskar Roy, a full-stack web developer and a Computer Science student/engineer
        </h2>
        <a href="{% url "sign-up" %}" class="mt-6 inline-block">
            <h class="border-black border-2 bg-green-500 p-3 rounded-2xl">
                
                Let's START  
                
            </h1>
            
        </a>
    </div>
</div>
