

{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <link rel="stylesheet" href="{% static "css/output.css" %}"> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>


    <!--navbar-->
    <section>
        <div class="grid grid-cols-2 md:grid-cols-3 p-2">
            <div class="md:text-center ">
                <a href="{% url "home" %}">
                <div class="text-2xl">TASK</div>
                <div>Management</div>
                </a>
            </div>
            <div class="md:grid grid-cols-4 text-center p-3 hidden">
                <a href="{% url "profile" %}" class="block py-2 text-gray-600 hover:text-gray-800"
                >Profile</a
                >
                <a href="#" class="block py-2 text-gray-600 hover:text-gray-800"
                >Pricing</a
                >
                <a href="#" class="block py-2 text-gray-600 hover:text-gray-800"
                >About</a
                >
                <a href="#" class="block py-2 text-gray-600 hover:text-gray-800"
                >Contact</a
                >
            </div>
            <div class="md:flex justify-center gap-3 p-2 hidden">
                {% if user.is_authenticated %}
                    <form action="{% url 'sign_out' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="border-2 rounded-lg p-2">logout</button>
                    </form>
                {% endif %}
                
            </div>
            <div class="md:hidden flex justify-center">
                <button id="menu-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
        </div>

        <div id="mobile-menu" class="md:hidden hidden my-4 mx-7">
            <a href="{% url "profile" %}" class="block py-2 text-gray-600 hover:text-gray-800"
              >Profile</a
            >
            <a href="#" class="block py-2 text-gray-600 hover:text-gray-800"
              >Pricing</a
            >
            <a href="#" class="block py-2 text-gray-600 hover:text-gray-800"
              >About</a
            >
            <a href="#" class="block py-2 text-gray-600 hover:text-gray-800"
              >Contact</a
            >
            {% if user.is_authenticated %}
                <form action="{% url 'sign_out' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="block py-2 text-gray-600 hover:text-gray-800">logout</button>
                </form>
            {% endif %}
            
          </div>
    </section>
    <!--main-->
    <section>

        {% block content %}
        {% include "logged.html" %}

        {% endblock content %}

    </section>
   
    
</body>
</html>

<script>
    document
      .getElementById("menu-toggle")
      .addEventListener("click", function () {
        document.getElementById("mobile-menu").classList.toggle("hidden");
      });
</script>


